/* InventoryCheckForm.css */

.inventory-check-form {
  background: linear-gradient(95deg, #003554, #004e89, #1a659e);
  padding: 70px;
  margin: 1.5rem auto 2rem auto;
  width: 65%;
  border-radius: 20px;
  box-shadow: 10px 10px 10px 10px rgba(74, 89, 228, 0.3);
}

.form-box {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.label {
  font-weight: bold;
  font-size: 16px;
  color: #fff;
}

.input {
  padding: 10px;
  border: 1px solid darkgoldenrod;
  border-radius: 5px;
  width: 30rem;
  outline-color: blue;
  color: black;
  font-weight: bold;
}

.form-button-section {
  margin: 5px auto 15px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.5rem;
}

.btn1 {
  margin-bottom: 10px;
  display: block;
  flex-direction: row;
  text-align: center;
  width: 15rem;
  height: 4rem;
  size: 0cm;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  background-color: rgb(22, 88, 232);
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin: 1.5rem;
}

.btn1:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px;
  font-size: 15px;
}

.task1 {
  margin: 0.5rem 5%;
  font-size: medium;
  font-weight: bold;
}
