.main {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    flex-direction: column;
}
h2 {
    /* margin: 10px; */
    font-size: 30px;
    color: rgb(8, 51, 100);
    /* padding-bottom: 0.1px; */
}
.search {
    margin-top:1px;
    display: block;
    flex-direction: row;
    text-align: center;
    width: 50%;
    height: 4rem;
    size: 0cm; 
    border-radius:1rem ;
    /* padding-top: 0.001px; */
    /* padding: 1rem 1rem; */
    
    /* color: rgb(255, 255, 255); */
    text-decoration: none; 
    margin: 1.5rem;
}
.btn1{
    margin-bottom:10px;
    display: inline-block;
    flex-direction: row;
    text-align: center;
    border: none;
    width: 7rem;
    height: 3rem;
    /* size: 0cm; */
    border-radius:1rem ;
    padding: 0.5rem 1rem;
    background-color: rgb(22, 88, 232);
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 1.5rem;
} 
.btn1:hover {
    background-color: #170564;
}
.Task1{
    margin:0.5rem 5%;
    font-size: medium;
    /* font-weight: bold; */
}


/* Table Styles */
table {
    width: 150%;
    border-collapse: collapse;
    margin-top: 20px;
    text-align: center;
    padding: auto;
    /* padding-right: 10px; */
  }
  
  th, td {
    border: 1px solid #0a0a0a;
    color: #ffffff;
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #0c78b6;
  }
  