.quotationForm{
  border: 5px solid rgb(18, 1, 79);
  background-color: rgb(1, 1, 82);
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
  /* background-color: aqua; */
  width: 50%;
  margin: 10px auto;
}
.quotationForm > input{
  padding: 3px;
  width: 25rem;
}
.quotationForm > p{
  color: white;
  text-align: start;
}
.clothSelector{
  padding: 3px;
  width: 25rem;
}
.sizesContainer{
  display: flex;
  gap: 10px;
}
.sizesInput{
  width: 3rem;
  padding: 3px;
  height: 30px;
}
.newQuotationBtn{
  width: 25rem;
  border: none;
  border-radius: 5px;
  padding: 5px;
  background-color: gray;
  color: white;
}
.submitQuotationBtn{
  width: 25rem;
  border: none;
  border-radius: 5px;
  padding: 5px;
  background-color: green;
  color: white;
}
.newQuotationBtn:hover{
  opacity: 85%;
}
.submitQuotationBtn:hover{
  opacity: 85%;
}
.designImagesContainer{
  display: flex;
  align-items: center;
  gap: 20px;
}
.designImages{
  width: 8rem;
  height: 8rem;
  border-radius: 10px;
}
.designImagesContainerView{
  display: flex;
  align-items: center;
  gap: 80px;
}
.designImagesContainerView p {
  color: white;
}