
.Inventory_Page{
    display: flex;
    gap: 10rem;
    justify-content: center;
    align-items: center;
    margin-right: 23rem;

}

.Bottons{
    /* width: 15rem;
    height: 2rem; */
    /* margin-right:100px; */
    /* display: flex;
    flex-direction: row;
    align-items: center; */
    /* justify-content: center; */
    display: inline;
    margin-bottom: 10px;
    
}
.btn{
    margin-bottom:10px;
    display: block;
    flex-direction: row;
    text-align: center;
    width: 15rem;
    height: 4rem;
    size: 0cm;
    border-radius:1rem ;
    padding: 0.5rem 1rem;
    background-color: rgb(22, 88, 232);
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 1.5rem;
}
.Task{
    margin:0.5rem 5%;
    font-size: medium;
    font-weight: bold;
}
.Graph{
    width: 15rem;
    height:20rem;
}
.Image{
    width: 38rem;
    height:22rem;
    border-radius: 20px;
}