.Card_Container{
    width: 15rem;
    border-radius: 1rem;
    box-shadow:10px 10px 10px  #999;
    display: flex;
    flex-direction:column;
    background-color: rgb(209, 212, 213);
    margin: 2rem;
    height: fit-content;
    display: grid;
    gap: 5px; 
    margin-bottom: 400px;
    

    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
     */

}

.Card_Image{
    width:5px;
    height:8px;

}

.Material_Description,
.Count{
    margin:0.5rem 5%;


}

/* .Count{
    margin: 0.5rem 5%;

} */

